<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" targetFramework="net48" version="120.2.7" />
  <package id="cef.redist.x86" targetFramework="net48" version="120.2.7" />
  <package id="CefSharp.Common" targetFramework="net48" version="121.3.130" />
  <package id="CefSharp.WinForms" targetFramework="net48" version="121.3.130" />
  <package id="chromiumembeddedframework.runtime.win-x64" targetFramework="net48" version="121.3.13" />
  <package id="chromiumembeddedframework.runtime.win-x86" targetFramework="net48" version="121.3.13" />
  <package id="Newtonsoft.Json" targetFramework="net48" version="13.0.3" />
  <package id="NUnit" targetFramework="net48" version="4.1.0" />
  <package id="Octokit" targetFramework="net48" version="10.0.0" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp" targetFramework="net48" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Aggregation" targetFramework="net48" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Aggregation.Redist" targetFramework="net48" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Common" targetFramework="net48" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Common.Redist" targetFramework="net48" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Diagnostics" targetFramework="net48" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Diagnostics.Log4Net" targetFramework="net48" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Diagnostics.Redist" targetFramework="net48" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Model" targetFramework="net48" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Model.Redist" targetFramework="net48" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Threading" targetFramework="net48" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Patterns.Threading.Redist" targetFramework="net48" version="2023.0.8" />
  <package allowedVersions="[2023.0.8, 2023.0.8]" id="PostSharp.Redist" targetFramework="net48" version="2023.0.8" />
  <package id="StrongNamer" targetFramework="net48" version="0.2.5" />
  <package id="System.Runtime.CompilerServices.Unsafe" targetFramework="net48" version="6.0.0" />
  <package id="System.Threading.Tasks.Extensions" targetFramework="net48" version="4.5.4" />
  <package developmentDependency="true" id="Vsxmd" targetFramework="net48" version="1.4.5" />
</packages>